script(type='text/javascript', src='http://zhcdn01.xoyo.com/assets/lib/jquery/jquery.1.7.2.js', charset='utf-8')
#top
    script(type='text/javascript' , src = 'http://jx3.xoyo.com/web/js/xsjTop/xsjTopPrint.js')
#footer
    script(type='text/javascript' , src = 'http://moon.xoyo.com/web/js/base/sitefoot.js')