doctype html
html
    head
        title= pageTitle
        meta(charset="utf-8")
        link(rel='stylesheet',href="assets/css/base.css")
        link(rel='stylesheet',href="assets/css/search.css")
        body.body
            #contain
                include ./common_head.jade
                .lower_box
                  .lon_con
                   .bread_nav
                          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您的位置：
                          a(href="#",target="blank") 数据库首页
                          | >
                          a(href="#",target="blank") 角色
                   .role_box
                        .role_name
                            h3
                                | 角色名称
                                span 称号名称
                            .profession
                                span 87级&nbsp;&nbsp天策
                                span 帮会名称
                            .experience 江湖资历：1001
                        .share_box
                            //JiaThis Button BEGIN
                            .jiathis_style
                                span.jiathis_txt 分享到：
                                a.jiathis_button_qzone
                                a.jiathis_button_tsina
                                a.jiathis_button_tqq
                                a.jiathis_button_weixin
                                a.jiathis_button_renren
                                a.jiathis_button_xiaoyou


                            script(type='text/javascript').
                                   var jiathis_config={
                                   url:"http://jx3.xoyo.com",
                                   summary:"剑网3游戏资料库",
                                   title:"剑网3游戏资料库 ##",
                                   shortUrl:false,
                                   hideMore:false
                                   }
                            script(type='text/javascript', src='http://v3.jiathis.com/code/jia.js', charset='utf-8')
                            //JiaThis Button END
                   .suit_show
                        .suit_tab
                            ul
                                li
                                    a.cur 第一套装备
                                li
                                    a 第二套装备
                                li
                                    a 第三套装备
                        .suit_con

                            div
                                .role_view
                                    img(width="460",height="555",src="assets/images/role_view.jpg")
                                mixin suit_lists($class)
                                    div(class=$class)
                                        div.suit_img
                                            img(width="42",height="42",src="")
                                            span
                                        div.suit_name
                                            div.name
                                                |装备名称
                                                img(width="13",height="13",src="assets/images/star_.png")
                                                img(width="13",height="13",src="assets/images/star_.png")
                                                img(width="13",height="13",src="assets/images/star_.png")
                                                img(width="13",height="13",src="assets/images/star_.png")
                                            div.worth
                                                |品质 435（+9）
                                                img(width="13",height="13")
                                                img(width="13",height="13")
                                                img(width="13",height="13")
                                                img(width="13",height="13")

                                .suit_list
                                    +suit_lists("hat_suit")
                                    +suit_lists("hat_suit_dress")
                                    +suit_lists("jack_suit")
                                    +suit_lists("jack_suit_dress")
                                    +suit_lists("cestus_suit")
                                    +suit_lists("cestus_suit_dress")
                                    +suit_lists("master_weapon")
                                    +suit_lists("assistant_weapon")
                                    +suit_lists("hidden_weapon")
                                    +suit_lists("bullet_weapon")
                                    +suit_lists("bangle_suit")
                                    +suit_lists("pants_suit")
                                    +suit_lists("shoe_suit")
                                    +suit_lists("necklace_suit")
                                    +suit_lists("waist_suit")
                                    +suit_lists("ring_suit")
                                    +suit_lists("ring_suit2")
                                .suit_score
                                    span.mark.m7
                                        em.nest
                                        em.streng
                                    span.suit_score_value
                                        |装备分数
                                        em 7896

                                ul.role_value
                                    li
                                        h3 气血:
                                        span 9000
                                    li
                                        h3 内力:
                                        span.fix_bg 9000
                   .summary_box
                        .summary_left
                            .summary_base
                                h3 基础
                                ul
                                    li
                                        span 5555
                                        |力道
                                    li
                                        span 5555
                                        |力道
                                    li
                                        span 5555
                                        |力道
                            .summary_attack
                                ul.summary_tab
                                    li.left_btn
                                    li.right_btn
                                .summary_attack_val
                                    div
                                        h3 外功攻击
                                ul
                                    li
                                        span 5555
                                        |力道
                                    li
                                        span 5555
                                        |力道
                                    li
                                        span 5555
                                        |力道

                        .summary_right.tab_box
                            ul.tab_list
                                li
                                    a.cur xxx奇穴
                                li
                                    a 奇穴
                             mixin tect_list()
                                 li
                                     span
                                         img(width="33",height="33")
                                     span xxxx
                            .tech_con
                                ul
                                    +tect_list
                                    +tect_list
                                    +tect_list
                                    +tect_list
                                    +tect_list
                                    +tect_list
                                    +tect_list
                                    +tect_list








                include ./common.jade